*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(144, 225, 225);
}
.menu{
    margin: 10px;
}
.hambuguer{
    display: none;
    cursor: pointer;
   
    
}

.mobile_menu{
   
    display: none;
    flex-direction: column;
    top: 60px;
    right: 10px;
    width: 150px;
    text-align: center;
    z-index: 1;
}

.container{
    display: flex;
    justify-content: space-between; 
    align-items:flex-end ;
    padding: 20px;
    background-color:#14a4c0;
}

.container a{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}
.container a:hover{
    background-color:#50bfe8;
    color:white;
    cursor: pointer;
    transition: 1s;
}

.meio{
    color: white;
    padding: 10px;
    background-color: aliceblue;
    background-image: url(/ProjetoSiteCelular/imagens/imagem_fundo.projpg.jpg);
    background-attachment: fixed;
}

#botao{
    background-color:rgb(41, 91, 184);
    padding: 10px;
    border-radius: 10px;
    
    font-weight: bold;
}
#botao:hover{
    background-color: rgb(11, 28, 60);
    cursor: pointer;
   
}

.card{
    border: 1px solid white;
    padding: 10px;
    background-color:#263f4a;
    text-align: center;
    padding: 40px;
    width: 200px;
    margin: auto;
    
}

.cel{
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.cel img{
    background-color:#001721;
    margin: 20px;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 15px;

}
.info{
    color:cornsilk;
    background-color: rgb(187, 198, 208);
    font-size: 20px;
    background-image: url(/ProjetoSiteCelular/imagens/imagem_fundo.projpg.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    flex-direction: column;
    padding:50px;
    

}
.info p{
    color: black;
}
.rodape{
    text-align: center;
    background-color:#14a4c0;
    padding: 30px;
    margin-top: 20px;
   
  
}
.rodape i{
    margin: 15px;
    background-color:lightgray;
    padding: 15px;
    border-radius: 10px;
}
.rodape i:hover{
    background-color:lightblue;
    transition:0.5s;
}



@media (min-width: 768px){
    .cel{
        justify-content: space-around;
    }
}

@media only screen and (max-width :768px){

    .menu{
        display: none;

    }
    .hambuguer{
        display: block;

    }
    

    .mobile_menu{
        display: none;
        
    }
    .mobile_menu a{
        text-decoration: none;
       background-color:rgb(144, 225, 225);
        padding: 10px;
        
    }
    .mobile_menu a:hover{
        background-color: aliceblue;
    }
    .mobile_menu.active{
        display: flex;
    }
}





